<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.snowt.diary">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="false"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.消消乐"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".activity.BigImgActivity"
            android:exported="true" />
        <activity
            android:name=".activity.FunnyInfoActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AddSpecialDayActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DayDetailActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SpecialDayActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetSameLabelActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TimeAscActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetDiarySizeActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.RecoveryDiaryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetRSAActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DiaryDetailActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DiaryListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.KeepDiaryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ZoomImageActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name="cn.snowt.mine.MineGameActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.HelpActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SetPasswordActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/TopTransparent" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>